# 使用Android的gitignore模板: https://github.com/github/gitignore/blob/HEAD/Android.gitignore

# 构建后的应用文件
*.apk
*.aar
*.ap_
*.aab

# ART/Dalvik虚拟机的文件
*.dex

# Java类文件
*.class

# 生成的文件
bin/
gen/
out/
#  如果需要且应用中没有发布版本类型的文件，请取消注释以下行
# release/

# Gradle文件
.gradle/
build/

# 本地配置文件（SDK路径等）
local.properties

# Eclipse生成的Proguard文件夹
proguard/

# 日志文件
*.log

# Android Studio导航编辑器临时文件
.navigation/

# Android Studio捕获文件夹
captures/

# IntelliJ
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
# Android Studio 3的.gitignore文件内容
.idea/caches
.idea/modules.xml
# 如果保留导航编辑器中元素的位置对你很重要，请注释掉以下行
.idea/navEditor.xml

# 密钥库文件
# 如果不想将密钥库文件纳入版本控制，请取消注释以下行
#*.jks
#*.keystore

# Android Studio 2.2及更高版本生成的外部原生构建文件夹
.externalNativeBuild
.cxx/

# Google服务（如API或Firebase）
# google-services.json

# Freeline
freeline.py
freeline/
freeline_project_description.json

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# 版本控制
vcs.xml

# lint
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
# lint/reports/

# Android性能分析文件
*.hprof

# Capacitor的Cordova插件
capacitor-cordova-android-plugins

# 复制的Web资产
app/src/main/assets/public

# 生成的配置文件
app/src/main/assets/capacitor.config.json
app/src/main/assets/capacitor.plugins.json
app/src/main/res/xml/config.xml
